<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Conexión+</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Conexión+</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NSCameraUsageDescription</key>
	<string>Permite a Conexion+ acceder a tu cámara para que puedas compartir fotos en los eventos, subir tu foto de perfil o escanear códigos QR para registrarte en actividades.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Conexion+ utiliza tu ubicación en segundo plano para avisarte cuando estés cerca de un evento o iglesia importante. Esto nos permite enviarte recordatorios útiles justo cuando los necesitas. Tu privacidad es primordial; tu ubicación nunca se comparte con otros y solo se usa para este propósito. Puedes gestionar este permiso en Ajustes en cualquier momento.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Conexion+ utiliza tu ubicación para mostrarte eventos de tu iglesia y otras cercanas, y para ayudarte a encontrar la mejor ruta para llegar. Tu privacidad es importante y no compartimos esta información.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>El micrófono es necesario para que puedas participar en las reuniones y transmitir audio en vivo dentro de la app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permite a Conexion+ acceder a tu biblioteca de fotos para que puedas compartir imágenes de los eventos o guardar recuerdos.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
